body {
  margin: 0;
  background: url('https://img.freepik.com/fotos-premium/fondo-hacker-hd-8k-fondo-pantalla-imagen-fotografica-stock_915071-60018.jpg?w=1060');
  background-size: cover; /* Ajusta el tamaño de la imagen */
  background-position: center; /* Centra la imagen */
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  color: white; /* Cambia el color del texto si es necesario */
}

main {
  background: black; /* Fondo negro para el main */
  height: 70vh; /* Cambia a 70% de la altura de la ventana */
  width: 100%; /* Asegúrate de que ocupe todo el ancho */
  color: rgb(10, 10, 10);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center; /* Centra el contenido verticalmente */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: white;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

a {
  font-weight: 800;
  text-decoration: none;
}
